@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: aliceblue;
}
.hidden{
    display: none;
}
.heading{
    display:flex;
    justify-content: space-between;
    height:8vh;
    background-color: #003;
    padding:0 2%;
    border-bottom: solid 2px gray;
}
.left-heading{
    display:  flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.right-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.logo{
    height: inherit; 
    /*padding-right: 1rem;*/
}
.logo img{
    height:100%;
    border-radius: 4%;
}
.login-status{
    display: flex;
    color:#fff;
}
.login-status *{
    padding-right: 1rem;
}
.search-form{
    display:flex
}

input[type="search"],input[type="submit"]{
    padding: 5px 10px;
    margin-right:10px
}
.navigation{
    background-color: #002;
    height: 8vh;
}