@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primaryColor:#6b3535;
    --primaryDark:#4a2424;
    --secondary: #b87070;
    --secondaryLight:#d89090
    --clr-dark: #333;
    --text: #555;
    --clr-back: #f5f5f5;
    --accent: #c86b6b;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html,body {
scroll-behavior: smooth;
display: flex;
flex-direction: column;
}

body {
background-color: var(--clr-back);
font-weight: 400;
line-height: 1;
color: var(--text);
}
.hidden{
    display: none;
}
/* Header */
header{
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 100;
}
.heading{
    display:flex;
    justify-content: space-between;
    height:8vh;
    background-color: #6b3535;
    padding:0 2%;
    border-bottom: solid 2px gray;
}
.left-heading{
    display:  flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.right-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.logo{
    height: inherit; 
    /*padding-right: 1rem;*/
}
.logo img{
    height:100%;
    border-radius: 4%;
}
.login-status{
    display: flex;
    color:#fff;
}
.login-status *{
    padding-right: 1rem;
}
.search-form{
    display:flex
}

input[type="search"],input[type="submit"]{
    padding: 10px 15px;
    margin-right:10px;
    border-radius: 3px;
}
input[type="submit"] {
    background-color: var(--accent);
}
.navigation{
    background-color: var(--secondary);
    height: 8vh;
}
.navigation ul{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: inherit;
    list-style: none;
}
.navigation ul li{
   padding:0.4rem 1rem; 
   margin-left: 5rem;
   font-weight: 700;
   font-size: 1.3rem;
   text-transform: capitalize;
   background-color: var(--primaryColor);
   border-radius: 1.5rem;
}


/* main */
main{
min-height: 80vh;
margin-top: 20vh;
padding: 20px;
/* background-color: black; */

/* banners */
.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content:flex-end ;
    align-items:flex-start;
    padding: 20px;
    color: #fff;
    font-size: 1rem;
    text-shadow: 2px 2px 3px var(--primaryColor);

}

.swiper-slide * {
    margin-bottom: 0.8rem;
}

.swiper-slide button {
    background-color:var(--accent) ;
    font: size 1rem ;
    padding: 5px 10px;
    border-bottom: 5px;
    outline: none;
    border-color: var(--primaryColor);
}

}
/* footer */
.site-footer {
  background-color: var(--primaryDark); 
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  border-top: 2px solid gray;
  width: 100%;
  flex-shrink: 0; 
}
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer-links a {
  color: #d89090;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.95rem;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: #fff;
}

.copyright {
  font-size: 0.85rem;
  color: #ccc;
}
